:root{
    --black:#12162c;
    --white:#fff;
    --primary: rgb(164, 3, 222);
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #fff;
    }

.dark{
    background-color: var(--black);
    color: var(--white);
}
.light{
    background-color: var(--white);
    color: var(--black);
}

/* .nav-links{
    display: flex;
    flex-direction: column;
padding: 10px;
   justify-content: center;
    position: relative;

}
.nav-links:hover{cursor: pointer;}

.nav-links span{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
     height: 90%;
    
 
 }

 .nav-links span:hover{
    cursor: pointer;
    animation: load 500ms linear;
    border-bottom: 2px solid orange;
 }


@keyframes load {
    0%{
        width: 0%;
        
    }
    100%{
        width: 100%;
    }
} */



/* Styling of user-card */
.user-card{
    padding: 10px;
    border: 2px solid red;
}
