:root{
    --black:#12162c;
    --white:#fff;
}

html, body {
    margin: 0;
    height: 100%;
    }

.dark{
    background-color: var(--black);
    color: var(--white);
}
.light{
    background-color: var(--white);
    color: var(--black);
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--black);
    height: 100px;
    background-color: rgb(55, 62, 62);
}
.logo-container{
    margin-top: auto;
    margin-bottom: auto;
    
}
.logo{
   width: 80px;
   padding: 5px;
}

.nav-items{
    font-family: cursive;
}
.nav-items-bars{
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 160, 37);
    font-size: 18px;
}

/* .nav-links{
    display: flex;
    flex-direction: column;
padding: 10px;
   justify-content: center;
    position: relative;

}
.nav-links:hover{cursor: pointer;}

.nav-links span{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
     height: 90%;
    
 
 }

 .nav-links span:hover{
    cursor: pointer;
    animation: load 500ms linear;
    border-bottom: 2px solid orange;
 }


@keyframes load {
    0%{
        width: 0%;
        
    }
    100%{
        width: 100%;
    }
} */
.search{
    margin: 10px;
}

.res-card{
    width: 250px;
    font-family:cursive;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;

}

.res-card:hover{
    /* border: 1px solid black; */
    box-shadow:10px 10px 8px rgb(214, 208, 215);
    transition: 100ms;
    cursor: pointer;
}

.res-img{
    width: 250px;
    height: 200px;
    
}

.res-logo{
    border-radius: 10px;
    width: 250px;
    height: 200px;
    object-fit: cover;

}
.login-btn{ 
    padding: 1rem;
    width: 80px;
    margin: 10px;
    cursor: pointer;
    font-family: cursive;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 20px;
}


.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card-link-txt{
    text-decoration: none;
    color: black;
}

.filter-btn{
    padding: 1rem;
    margin: 10px;
    cursor: pointer;
    font-family: cursive;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 20px;

}
.body-fun{
    display: flex;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shimmer-card{
    width: 250px;
    height: 350px;
    margin: 10px;
    
}
.shimmer-img{
    width: 250px;
    height: 200px;
    background-color:rgb(214, 208, 215);
    border-radius: 10px;
    margin-bottom: 10px;
}
.shimmer-detail{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(214, 208, 215);
    margin: auto 25px;
    
}
.contact-main{
    background-color: rgb(138, 137, 137);
    width: 100%;
    height: 100%;
}
.contact-heading{
    color: aquamarine;
    
}

/* delete after use */

.ResMenuContainer{
    
    display: flex;
    justify-content: space-between;
    font-family: cursive;
    
    padding: 0.5rem;

}
.myimg{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 20px;
   
}
.ResMenuName{
    font-size:40px;

}

.ResMenu-ContainerRating{
    width: 80px;
    border-radius: 15px;
    display: flex;
    
    align-items: center;
    
    background-color: orange;
    
}


.ResMenu-Rating{
    color: #fff;
    width: 100%;
    background-color: rgb(255, 166, 0);
    padding-left:25% ;
    
}
.MenuItems{
    margin: 20px;
    list-style:none;
}
.MenuItemList{
    padding: 10px;
    border-bottom: 2px solid orange;
    display: flex;
    justify-content: space-between;
}
.MenuItems-container1{
    width: 50%;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.MenuItems-container1 > P {
    font-family: cursive;

}
.MenuItems-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 20px;  
}
.MenuItems-container2{
    height: auto;
    display:flex;
    flex-direction: row;
    align-items: center;

}