:root{
    --black:#12162c;
    --white:#fff;
}

html, body {
    margin: 0;
    height: 100%;
    }

.dark{
    background-color: var(--black);
    color: var(--white);
}
.light{
    background-color: var(--white);
    color: var(--black);
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--black);
}
.logo{
    width: 150px;
}

.nav-items > ul{
    display: flex;
    font-size: 18px;
    font-family: cursive;
    padding: 0  20px 0px 20px;
    list-style-type: none;
}
.nav-items> ul> li{
    padding: 10px;
    margin: 10px;
    
}

.search{
    margin: 10px;
}

.res-card{
    width: 250px;
    font-family:cursive;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;

}
.res-card:hover{
    /* border: 1px solid black; */
    box-shadow:10px 10px 8px rgb(214, 208, 215);
    transition: 100ms;
    cursor: pointer;
}

.res-img{
    width: 250px;
    height: 200px;
    
}

.res-logo{
    border-radius: 10px;
    width: 250px;
    height: 200px;
    object-fit: cover;

}


.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filter-btn{
    padding: 1rem;
    margin: 10px;
    cursor: pointer;
    font-family: cursive;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 20px;

}
.body-fun{
    display: flex;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shimmer-card{
    width: 250px;
    height: 350px;
    margin: 10px;
    
}
.shimmer-img{
    width: 250px;
    height: 200px;
    background-color:rgb(214, 208, 215);
    border-radius: 10px;
    margin-bottom: 10px;
}
.shimmer-detail{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(214, 208, 215);
    margin: auto 25px;
    
}