.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: rgba(184, 184, 184, 0.385);
  backdrop-filter: blur(2px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app__navbar-logo p {
  width: 90px;
  font-weight: 400;
  color: rgb(0, 255, 4);
}
.app__navbar-logo p:hover {
  color: rgb(84, 252, 0);
}
.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 900px) {
  .app__navbar-links {
    display: none;
  }
}

.nav-items-bars {
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(37, 37, 37, 0.818);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.nav-items-bars:hover {
  color: rgb(84, 252, 0);
}
.login-btn {
  padding: 1rem;
  width: 80px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary);
  border: none;
  border-radius: 20px;
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(84, 252, 0);
  background: grey;
}
@media screen and (min-width: 900px) {
  .app__navbar-menu {
    display: none;
  }
}
.app__navbar-menu svg {
  width: 25px;
  height: 25px;
}

.app__navbar-menu div {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;

  padding: 1rem;

  width: 60%;
  height: 80vh;

  color: rgb(201, 201, 201);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(168, 168, 168, 0.25);
}
@media screen and (min-width: 900px) {
  .app__navbar-menu div {
    display: none;
  }
}
.app__navbar-menu div svg {
  width: 35px;
  height: 35px;
  color: rgb(84, 252, 0);
}
.app__navbar-menu div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.link {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: grey;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
}
.link:hover {
  color: rgb(84, 252, 0);
}
.dUser {
  margin: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #11ff00;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #444444;
}

input:focus + .slider {
  box-shadow: 0 0 4px #11ff00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
