.header{
    display: flex;
    justify-content: space-between;
    
    height: 100px;
    background-image: linear-gradient(180deg, #302e2d, #847d75, #cbc8c8);
}
.logo-container{
    margin-top: auto;
    margin-bottom: auto;
    
}
.logo{
   width: 80px;
   padding: 5px;
}

.nav-items{
    font-family: cursive;
}
.nav-items-bars{
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.login-btn{ 
    padding: 1rem;
    width: 80px;
    margin: 10px;
    cursor: pointer;
    font-family: cursive;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 20px;
}



.contact-main{
    background-color: rgb(138, 137, 137);
    width: 100%;
    height: 100%;
}
.contact-heading{
    color: rgb(57, 133, 108);
    
}