
.ResMenuContainer{

    width: 100%;
    height: 30vh;
    background-color: antiquewhite;

    
    border: 2px solid green;
    position: relative;
    
    
    
}
.ResMenuContainer1{
    
    display: flex;
    justify-content: space-between;
    font-family: cursive;
    position: absolute;
    
   
    
    padding: 0.5rem;
    border: 2px solid red;
    
    /* border: 2px solid green; */
    /* background-image: url(https://images.unsplash.com/photo-1528712306091-ed0763094c98?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fG9ubGluZSUyMGZvb2R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60); */
   
    
}
.ResMenu-bg-img{
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
    
    
}
.myimg{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 20px;
   
}
.ResMenuName{
    font-size:45px;
    color: #ffffff;

}

.ResMenu-ContainerRating{
    width: 80px;
    border-radius: 15px;
    display: flex;
    
    align-items: center;
    
    background-color: var(--primary);
    
}


.ResMenu-Rating{
    color: #ffffff;
    width: 100%;
    background-color: var(--primary);
    padding-left:25% ;
    
}
.Menu-cuisines{
     font-family: cursive;
}
.ResMenu-Menu{
    font-size: 25px;
}

.MenuItems{
    margin: 100px;
    list-style:none;
}  

.Menu-cuisines{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.MenuItemList{
    padding: 10px;
    width: 99%;
    border-bottom: 2px solid var(--primary);
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    transition: width 100ms, height 4s;
   

}
.MenuItemList:hover{
    width: 100%;
    box-shadow:10px 10px 8px rgb(255, 140, 138);
    transition: 100ms;
    cursor: pointer;
    animation-name: example;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}
@keyframes example {
    to {background-color: rgb(250, 209, 209);}
  }

.MenuItemList:nth-of-type(2n){
    background-color: rgb(236, 237, 237);
}
.MenuItems-container1{
    width: 50%;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.MenuItems-container1 > P {
    font-family: cursive;

}
.MenuItems-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 20px;  
}
.MenuItems-container2{
    height: auto;
    display:flex;
    flex-direction: row;
    align-items: center;

}
