/* Top banner */
.ResturantMain-cont{
    width: calc(100% - 5px);
    position: relative;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;  
}
.ResturantMenu-img {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: blur(5px);
}

.ResturantMenu-txt {
    position: absolute;
    margin: auto 40px;
    width: 95%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateY(50);   
}

.ResturantMenu-txt span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}
.ResturantMenu-txt h1{
    font-size: 55px;
    line-height: 10px;
    text-shadow:4px 4px 8px rgb(0, 0, 0); 
    padding-bottom: 2rem;     
}

.ResMenu-Rating {
    width: 50px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    background: rgb(47, 189, 47);
    font-size: 16px;
}
.myimg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 20px;

}


/* Middle menu */
.ResMenu-Menu {
    font-size: 25px;
}

.MenuItems {
    margin: 100px;
    list-style: none;
}

.Menu-cuisines {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}
/* Menu List */


.MenuItemList {
    padding: 10px;
    width: 99%;
    border-bottom: 2px solid var(--primary);
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    transition: width 100ms;


}

.MenuItemList:hover {
    width: 100%;
    box-shadow: 10px 10px 8px rgb(224, 138, 255);
    transition: 100ms;
    cursor: pointer;
    animation-name: example;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

@keyframes example {
    to {
        background-color: rgb(231, 209, 250);
    }
}

.MenuItemList:nth-of-type(2n) {
    background-color: rgb(243, 231, 248);
}

.MenuItems-container1 {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}



.MenuItems-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 20px;
}

.MenuItems-container2 {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

}



