.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shimmer-card{
    width: 250px;
    height: 350px;
    margin: 10px;
    
}
.shimmer-img{
    width: 250px;
    height: 200px;
    background-color:rgb(214, 208, 215);
    border-radius: 10px;
    margin-bottom: 10px;
}
.shimmer-detail{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(214, 208, 215);
    margin: auto 25px;
    
}